# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

/src/.DS_Store
.DS_Store
# testing
/coverage

# next.js
/.next
/out

# production
/build
/SourceFiles
# misc
.DS_Store
*.pem
Thumbs.db

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv local files
.env*.local

# local folder
local

# vercel
.vercel
src/images/4.psd
src/images/bg.psd
src/.DS_Store
.DS_Store
src/.DS_Store
SourceFiles/4.psd
SourceFiles/bg.psd
SourceFiles/fjLogo.ai
SourceFiles/fjLogo.keyshape
SourceFiles/fjLogo_simply_safari.keyshape
SourceFiles/slider-03.psd
SourceFiles/dachy_.psd
SourceFiles/dachy_.psd
.DS_Store
SourceFiles/Untitled-1.ai
SourceFiles/zdjeciaq/20200423_115104.jpeg
SourceFiles/zdjeciaq/20200423_115116.jpeg
SourceFiles/zdjeciaq/20200424_121621.jpeg
SourceFiles/zdjeciaq/20200424_121623.jpeg
SourceFiles/zdjeciaq/20200504_115910.jpeg
SourceFiles/zdjeciaq/20200825_132754.jpeg
SourceFiles/zdjeciaq/20210125_110949.jpeg
SourceFiles/zdjeciaq/20210125_111003.jpeg
SourceFiles/zdjeciaq/20210128_150532.jpeg
SourceFiles/zdjeciaq/20210313_142822.jpeg
SourceFiles/zdjeciaq/20210313_142827.jpeg
SourceFiles/zdjeciaq/20210313_142926.jpeg
SourceFiles/zdjeciaq/20210313_142928.jpeg
SourceFiles/zdjeciaq/20210313_142932.jpeg
SourceFiles/zdjeciaq/20210313_142941.jpeg
SourceFiles/zdjeciaq/20210313_142953.jpeg
SourceFiles/zdjeciaq/20210313_143012.jpeg
SourceFiles/zdjeciaq/20210313_143047.jpeg
SourceFiles/zdjeciaq/20210313_143059.jpeg
SourceFiles/zdjeciaq/20210313_143109.jpeg
SourceFiles/zdjeciaq/20210313_143153.jpeg
SourceFiles/zdjeciaq/20210313_143257.jpeg
SourceFiles/zdjeciaq/20210313_143300.jpeg
SourceFiles/zdjeciaq/20210313_143357.jpeg
SourceFiles/zdjeciaq/20210313_143404.jpeg
SourceFiles/zdjeciaq/20210313_143413.jpeg
SourceFiles/zdjeciaq/20210313_143422.jpeg
SourceFiles/zdjeciaq/20210512_102331.jpeg
SourceFiles/zdjeciaq/20210528_073809.jpeg
SourceFiles/zdjeciaq/20210528_073819.jpeg
SourceFiles/zdjeciaq/20210528_082807.jpeg
SourceFiles/zdjeciaq/20210528_084207.jpeg
SourceFiles/zdjeciaq/20210601_090059.jpeg
SourceFiles/zdjeciaq/20210602_183113.jpeg
SourceFiles/zdjeciaq/20210602_183113.psd
SourceFiles/zdjeciaq/20210602_183155.jpeg
SourceFiles/zdjeciaq/20210618_143112.jpeg
SourceFiles/zdjeciaq/20210618_143121.jpeg
SourceFiles/zdjeciaq/20210630_095313.jpeg
SourceFiles/zdjeciaq/20210630_095332.jpeg
SourceFiles/zdjeciaq/20210720_125444.jpeg
SourceFiles/zdjeciaq/20210720_125451.jpeg
SourceFiles/zdjeciaq/20210720_125457.jpeg
SourceFiles/zdjeciaq/20210812_120800.jpeg
SourceFiles/zdjeciaq/20210812_120800.psd
SourceFiles/zdjeciaq/20210812_120820.jpeg
SourceFiles/zdjeciaq/20210813_074409.jpeg
SourceFiles/zdjeciaq/20210813_074420.jpeg
SourceFiles/zdjeciaq/20210818_095049.jpeg
SourceFiles/zdjeciaq/20210818_095131.jpeg
SourceFiles/zdjeciaq/20210818_095147.jpeg
SourceFiles/zdjeciaq/20210821_085403.jpeg
SourceFiles/zdjeciaq/20210828_114551.jpeg
SourceFiles/zdjeciaq/20210903_143215.jpeg
SourceFiles/zdjeciaq/20210906_140030.jpeg
SourceFiles/zdjeciaq/20210906_140038.jpeg
SourceFiles/zdjeciaq/20210928_154456.jpeg
SourceFiles/zdjeciaq/20210928_154516.jpeg
SourceFiles/zdjeciaq/20211001_154039.jpeg
SourceFiles/zdjeciaq/20211001_154050.jpeg
SourceFiles/zdjeciaq/20211001_154117.jpeg
SourceFiles/zdjeciaq/20211004_093519.jpeg
SourceFiles/zdjeciaq/20211004_093530.jpeg
SourceFiles/zdjeciaq/20211004_093552.jpeg
SourceFiles/zdjeciaq/20211004_122015.jpeg
SourceFiles/zdjeciaq/20211004_122018.jpeg
SourceFiles/zdjeciaq/20211019_160937.jpeg
SourceFiles/zdjeciaq/20211019_160940.jpeg
SourceFiles/zdjeciaq/20211030_095546.jpeg
SourceFiles/zdjeciaq/IMG_20210308_154441.jpeg
SourceFiles/zdjeciaq/IMG_20220119_103124.jpeg
SourceFiles/zdjeciaq/IMG_20220119_103127.jpeg
SourceFiles/zdjeciaq/IMG_20220208_074245.jpeg
SourceFiles/zdjeciaq/ogrody-pielegnaca.tif
SourceFiles/zdjeciaq/plangarden.tif
SourceFiles/zdjeciaq/Bez nazwy-1.psd
SourceFiles/zdjeciaq/Bez nazwy-2.psd
SourceFiles/zdjeciaq/Bez nazwy-3.psd
.DS_Store
SourceFiles/bg_1.psd
SourceFiles/FACEBOOK FJ/reklama-01.jpg
SourceFiles/FACEBOOK FJ/reklama-02.jpg
SourceFiles/FACEBOOK FJ/reklama-03.jpg
SourceFiles/FACEBOOK FJ/reklama-04.jpg
SourceFiles/FACEBOOK FJ/reklamy FB FJ.ai
SourceFiles/FACEBOOK FJ/tekst reklamy.txt
SourceFiles/FACEBOOK FJ/user-image.jpg
SourceFiles/FAcebook/reklama---styk-01.jpg
SourceFiles/zdjeciaq/20210906_140030.psd
package-lock.json
SourceFiles/lawncare-master.zip

SourceFiles/