


form .overflow{

  visibility:hidden;
  opacity: 0;
  display:none;
  background-image: url(../images/bg.jpg);
  background-color: #2e3141;
  background-image: linear-gradient(to top, rgba(46, 49, 65, 0.8), rgba(46, 49, 65, 0.8)), url("../images/bg.jpg");
  background-size: auto,
    cover;
  background-position: center,
    center;
}
form input#rodo{
display:none;


}
form #rodo-label{

font-size:0.8em;

}
form .alert, form .messageAllert{
background-color: var(--colorRed);
color: white;
padding:12px;
margin-top:12px;
font-size:0.8em;
border-radius: 10px;
}
form #message{
  min-height:200px;
  width:100%;  
}

form .overflow .logo{

  visibility:hidden;
  width: 200px;
  position: absolute;
  left: 50%;
  margin-left: -100px;
  margin-top: 30%;
 
}
body.overflow .overflow .messageAllert{

  color : white;
  width: 100%;
  text-align: center;
  margin-top:55%;
color: white;
}

body.overflow .overflow{
  opacity: 1;
  display: block;
  visibility: visible;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: var(--colorRed);
  margin: 0%;
  top: 0px;
  left: 0px;
  z-index: 400;
  transition: 300ms linear; 
}
body.overflow .overflow .logo{
  visibility: visible;
}
