


@keyframes o7gvxdxspslztuvgswjplgkg_f {
  0% {
    fill: #ffffff;
  }
  100% {
    fill: #ffffff;
  }
}
@keyframes o7gvxdxspslztuvgswjplgkg_d {
  0% {
    d: path(
      "M0,0C0,0,8.47428,10.7,8.47428,10.7C8.47428,10.7,7.7,15.3,6.45,17C5.2,18.7,1.8,22.2,0,23.7C-1.8,25.2,3.7,10.7,3.7,10.7L-5.3,0L-8.52572,-4.99116L-5.3,-8.99116"
    );
    animation-timing-function: cubic-bezier(0, 0, 0.58, 1);
  }
  7.3171% {
    d: path(
      "M0,0C0,0,6.45,10.3588,6.45,10.3588C6.45,10.3588,7.7,15.3,6.45,17C5.2,18.7,-16.7257,54.5088,-18.5257,56.0088C-20.3257,57.5088,-26.5257,69.7088,-26.5257,69.7088L-40.5257,51.0088L-9.6,-6.3L-2.52572,-3.99116"
    );
  }
  9.7561% {
    d: path(
      "M7.47428,16.0088C7.47428,16.0088,0,28.0088,0,28.0088C0,28.0088,-1.95857,31.9696,-3.20857,33.6696C-4.45857,35.3696,-25.7257,68.2088,-27.5257,69.7088C-29.3257,71.2088,-33.5257,69.7088,-33.5257,69.7088L-40.5257,51.0088L-9.6,-6.3L-3.57524,-2.86373"
    );
  }
  12.1951% {
    d: path(
      "M2.08715,24.0088C2.08715,24.0088,-2.52572,35.0088,-2.52572,35.0088C-2.52572,35.0088,-6.78785,40.3044,-8.03785,42.0044C-9.28785,43.7044,-25.4757,68.2088,-27.2757,69.7088C-29.0757,71.2088,-37.0257,69.7088,-37.0257,69.7088L-40.5257,51.0088L-9.6,-6.3L8.47428,16.0088"
    );
  }
  14.6341% {
    d: path(
      "M-16.5257,59.0088C-16.5257,59.0088,-18.5257,63.0088,-18.5257,63.0088C-18.5257,63.0088,-21.2757,65.3088,-22.5257,67.0088C-23.7757,68.7088,-24.7257,68.2088,-26.5257,69.7088C-28.3257,71.2088,-47.5257,69.7088,-47.5257,69.7088L-40.5257,51.0088L-9.6,-6.3L8.47428,14.0088"
    );
  }
  17.0732% {
    d: path(
      "M-21.7257,65.4088C-21.7257,65.4088,-27.5257,72.6288,-27.5257,72.6288C-27.5257,72.6288,-36.4757,69.3088,-37.7257,71.0088C-38.9757,72.7088,-44.3257,71.1288,-46.1257,72.6288C-47.9257,74.1288,-58.7257,69.7088,-58.7257,69.7088L-42.1257,51.0088L-9.6,-6.3L8.47428,14.0088"
    );
    animation-timing-function: cubic-bezier(0.42, 0, 1, 1);
  }
  19.5122% {
    d: path(
      "M-29.5257,75.0088C-29.5257,75.0088,-47.5257,75.0088,-47.5257,75.0088C-47.5257,75.0088,-59.2757,75.3088,-60.5257,77.0088C-61.7757,78.7088,-73.7257,75.5088,-75.5257,77.0088C-77.3257,78.5088,-75.5257,69.7088,-75.5257,69.7088L-44.5257,51.0088L-9.6,-6.3L8.47428,14.0088"
    );
  }
  100% {
    d: path(
      "M-29.5257,75.0088C-29.5257,75.0088,-47.5257,75.0088,-47.5257,75.0088C-47.5257,75.0088,-59.2757,75.3088,-60.5257,77.0088C-61.7757,78.7088,-73.7257,75.5088,-75.5257,77.0088C-77.3257,78.5088,-75.5257,69.7088,-75.5257,69.7088L-44.5257,51.0088L-9.6,-6.3L8.47428,14.0088"
    );
  }
}
@keyframes aynzm8tnaa70b3wkozxaf4vy_t {
  0% {
    transform: translate(-12.714286px, 106.258842px);
  }
  34.1463% {
    transform: translate(-12.714286px, 106.258842px);
  }
  100% {
    transform: translate(-12.714286px, 106.258842px);
  }
}
@keyframes aynzm8tnaa70b3wkozxaf4vy_d {
  0% {
    d: path("M0,0L13,-6.09996L20,-11L28,-17.2L45,-21.95L49,-30.25L-11,0");
  }
  17.0732% {
    d: path("M0,0L13,-6.09996L20,-11L28,-17.2L45,-21.95L49,-30.25L-11,0");
  }
  21.9512% {
    d: path(
      "M95,-148.95L17,-41.95L3,-2.99996L28,-17.2L71,-58.95L99,-109.95L99,-148.95"
    );
  }
  100% {
    d: path(
      "M95,-148.95L17,-41.95L3,-2.99996L28,-17.2L71,-58.95L99,-109.95L99,-148.95"
    );
  }
}
@keyframes q1oich5bfl92ufh2ubv4pljt_d {
  0% {
    d: path("M0,0L-12.3743,5L-23.7,10L-36.7,13");
  }
  21.9512% {
    d: path("M0,0L-12.3743,5L-23.7,10L-36.7,13");
  }
  26.8293% {
    d: path("M-7.3,3L56.7,110L54.7,153L-11.3,45");
  }
  100% {
    d: path("M-7.3,3L56.7,110L54.7,153L-11.3,45");
  }
}
@keyframes himrf3zc2zdm4133uliknk0j_d {
  0% {
    d: path("M0,0L3.4,-10.3L52.4,0L46.7,16.95L29.4,10");
  }
  26.8293% {
    d: path("M0,0L3.4,-10.3L52.4,0L46.7,16.95L29.4,10");
  }
  34.1463% {
    d: path("M0,0L-45.6,-114L-31.6,-133L48.4,-10.3L50.4,10");
  }
  100% {
    d: path("M0,0L-45.6,-114L-31.6,-133L48.4,-10.3L50.4,10");
  }
}
@keyframes ik8repdqtyeiuhzaj728e9n8_f {
  0% {
    fill: #a51a42;
  }
  39.0244% {
    fill: #ffffff;
  }
  100% {
    fill: #ffffff;
  }
}
@keyframes ik8repdqtyeiuhzaj728e9n8_d {
  0% {
    d: path("M0,0L1,7L-37,7L-40,-2L-37,-5.3L-29.1,-2");
  }
  24.3902% {
    d: path("M0,0L1,7L-37,7L-40,-2L-37,-5.3L-29.1,-2");
  }
  29.2683% {
    d: path("M-8,-26L1,7L-37,7L-40,-2L-14,2L-8,0");
  }
  34.1463% {
    d: path("M-40.5,-56L1,7L-37,7L-37,3L-30.5,0L-50,-43");
  }
  39.0244% {
    d: path("M-40,-58L1,7L-37,7L-40,-2L-47,-2L-73,0");
  }
  100% {
    d: path("M-40,-58L1,7L-37,7L-40,-2L-47,-2L-73,0");
  }
}
@keyframes m7af00q3gfzeqnzc93o32n0w_t {
  0% {
    transform: translate(93.9px, -8px);
  }
  39.0243% {
    transform: translate(90.85px, -8.15px);
  }
  100% {
    transform: translate(90.85px, -8.15px);
  }
}
@keyframes m7af00q3gfzeqnzc93o32n0w_f {
  0% {
    fill: #ffffff;
  }
  100% {
    fill: #ffffff;
  }
}
@keyframes m7af00q3gfzeqnzc93o32n0w_w {
  0% {
    width: 11.9px;
  }
  36.5854% {
    width: 11.9px;
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  }
  53.6585% {
    width: 212.9px;
  }
  100% {
    width: 212.9px;
  }
}
@keyframes px70rz0i34hotqrvrrt28pla_o {
  0% {
    opacity: 0;
  }
  48.7805% {
    opacity: 0;
  }
  51.2195% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes ctk2b4819y8wzn8u8zfw6d31_f {
  0% {
    fill: #ffffff;
  }
  68.2927% {
    fill: #ffffff;
  }
  100% {
    fill: #ffffff;
  }
}
@keyframes ctk2b4819y8wzn8u8zfw6d31_d {
  0% {
    d: path("M0,0L33,0L33,4.9L0,4.9C0,4.9,0,0,0,0Z");
  }
  70.7317% {
    d: path("M0,0L33,0L33,4.9L0,4.9C0,4.9,0,0,0,0Z");
    animation-timing-function: cubic-bezier(0, 0, 0.58, 1);
  }
  80.4878% {
    d: path("M0,0L33,0L29,113.5L0,80.8C0,80.8,0,0,0,0Z");
    animation-timing-function: cubic-bezier(0.42, 0, 1, 1);
  }
  85.3659% {
    d: path("M1,3L33,0L29,160.8L-25,99.8C36.5,10.3,-29.4244,92.749,1,3Z");
  }
  100% {
    d: path("M1,3L33,0L29,160.8L-25,99.8C36.5,10.3,-29.4244,92.749,1,3Z");
  }
}
@keyframes m7jkcovhs7h9o4zgjxj7yv8z_t {
  0% {
    transform: translate(9.999997px, 2.8px);
  }
  58.5365% {
    transform: translate(9.999997px, 0px);
  }
  100% {
    transform: translate(9.999997px, 0px);
  }
}
@keyframes m7jkcovhs7h9o4zgjxj7yv8z_f {
  0% {
    fill: #ffffff;
  }
  100% {
    fill: #ffffff;
  }
}
@keyframes m7jkcovhs7h9o4zgjxj7yv8z_h {
  0% {
    height: 4.9px;
  }
  58.5366% {
    height: 4.9px;
    animation-timing-function: cubic-bezier(0.42, 0, 1, 1);
  }
  70.7317% {
    height: 103.1px;
  }
  100% {
    height: 103.1px;
  }
}
@keyframes gqdo0hiesatwy4467qupey2d_t {
  0% {
    transform: translate(-0.000003px, 6.9px);
  }
  78.0487% {
    transform: translate(-0.000003px, 6.9px);
    animation-timing-function: cubic-bezier(0, 0, 0.58, 1);
  }
  85.3658% {
    transform: translate(-0.000003px, 4.9px);
  }
  100% {
    transform: translate(-0.000003px, 4.9px);
  }
}
@keyframes gqdo0hiesatwy4467qupey2d_f {
  0% {
    fill: #ffffff;
  }
  73.1707% {
    fill: #f4ebed;
  }
  78.0488% {
    fill: #ffffff;
    animation-timing-function: cubic-bezier(0, 0, 1, 1);
  }
  85.3659% {
    fill: #ffffff;
    animation-timing-function: cubic-bezier(0.42, 0, 1, 1);
  }
  92.6829% {
    fill: #ffffff;
  }
  100% {
    fill: #ffffff;
  }
}
@keyframes gqdo0hiesatwy4467qupey2d_w {
  0% {
    width: 6.6px;
  }
  78.0488% {
    width: 6.6px;
    animation-timing-function: cubic-bezier(0.42, 0, 1, 1);
  }
  85.3659% {
    width: 84.3px;
  }
  100% {
    width: 84.3px;
  }
}
@keyframes ua3aswkj40d69zhl6dljlnju_f {
  0% {
    fill: #ffffff;
  }
  87.8049% {
    fill: #ffffff;
  }
  92.6829% {
    fill: #ffffff;
  }
  100% {
    fill: #ffffff;
  }
}
@keyframes ua3aswkj40d69zhl6dljlnju_w {
  0% {
    width: 4.6px;
  }
  87.8049% {
    width: 4.6px;
  }
  92.6829% {
    width: 78.3px;
  }
  100% {
    width: 78.3px;
  }
}