.wrapper.no_bottom:after {
  background-image: none;
}

.wrapper.no_bottom {
  margin-bottom: 0px;
}

.wrapper.no_top:before {
  background-image: none;
}

.wrapper.no_top {
  margin-top: 0px;
}

.wrapper .brake_list {
  clear: both;
}

.wrapper .centeredImages{
  display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: flex-start;
align-content: flex-start;
}
.wrapper .imageCentered{
  background-color: #5983fc;
  border-radius: 12px;
  color: #fff;
  margin: 10px;
  max-width: 20%;
  
  padding: 10px;

}
.wrapper .list_ordered{




}
.wrapper .list_ordered li{

  padding-top: 2px;
  margin-top: 8px;
  border-left:10px solid var(--colorRed);

  
}





.wrapper .gallerGrid{
  transition-delay: 2s;
  width: 100%;
  display: grid;
  grid-template-areas: "head head"
  "nav  main"
  "nav  foot";
grid-template-rows: 33% 1fr 30px;
grid-template-columns: 150px 1fr;


}
.wrapper .gallerGrid .box:nth-child(4n+1) {
  /* grid-row: span 2; */
}

.wrapper .gallerGrid .box:nth-child(2) {
  /* column: span 2; */
}
.wrapper .gallerGrid .box{

  position: relative;
  background: #ccc;
  overflow: hidden;
  

    border-radius: 0px;
    border: solid 0px rgba(255, 255, 255, 0.125);
    margin-bottom: 0em;
    padding: 0em;




}

.box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}




@media (max-width: 991px){
  .wrapper .gallerGrid{
    grid-template: '1fr' 600px
                   '1fr' 300px
                   '1fr' 300px
                   '1fr' 300px
                   '1fr' 300px;
  }
}
@media (max-width: 768px){
  .wrapper .gallerGrid{
    grid-template:
    '1fr'
    '1fr'
    '1fr'
    '1fr'
    '1fr'
    '1fr'
    '1fr';
grid-template-columns: 1fr auto;
}
  
  
}


/*
.wrapper .gallerGrid {
max-height:1200px;
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;

}
.wrapper .gallerGrid .over{

overflow: hidden;

}
*/


/*
.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 2 / 1 / 3 / 2; }
.div3 { grid-area: 1 / 2 / 3 / 4; }
.div4 { grid-area: 3 / 1 / 4 / 4; }
.div5 { grid-area: 4 / 1 / 6 / 3; }
.div6 { grid-area: 4 / 3 / 6 / 4; }



.wrapper .gallerGrid img{

  width: 100%;
    height: 100%;
    object-fit: cover;
    padding:2px;
    }

    */